* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
}
.header-container {
  background-image: url(./img/header_img.jpg);
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-content {
  margin-left: 200px;
}
.logo {
  color: #d9a38c;
  font-size: 50px;
  font-family: "Wild and Rad";
  font-weight: 400;
  font-style: normal;
}
.navbar {
  display: flex;
}

.main-links-nav {
  align-items: center;
  background-color: #8197b6;
  display: flex;
  height: 60px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #d9a38c;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.body {
  height: 100vh;
  color: #d9a38c;
  font-size: 20px;
  font-family: "Wild and Rad";
  font-weight: 200;
  font-style: normal;
  text-align: center;
  margin-top: 40px;
  padding: 10px;
}
.works-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-color: black 20px;
}
.works1-container {
  background-image: url(./img/works1-river.jpg);
  height: 50vh;
  width: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.works2-container {
  background-image: url(./img/works2-mountain.jpg);
  height: 50vh;
  width: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.works3-container {
  background-image: url(./img/works3-lake.jpg);
  height: 50vh;
  width: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.p {
  border-color: red;
  border-style: solid;
}
